# Configuration de la base de données
DATABASE_URL="mysql://user:password@localhost:3306/database_name"

# Configuration du serveur
PORT=3001

# Configuration JWT
JWT_SECRET="votre_cle_secrete_ici"
JWT_EXPIRES_IN="3h"
REFRESH_TOKEN_SECRET="une_autre_cle_secrete"
REFRESH_TOKEN_EXPIRES_IN="7d"
